body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    width: calc(100% - 40px);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input {
    padding: 8px;
    font-size: 14px;
}

.container {
    max-width: 800px;
    margin: 80px auto 20px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

h1 {
    margin-bottom: 20px;
}

.lesson-list {
    list-style: none;
    padding: 0;
}

.lesson-list-item {
    margin: 10px 0;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}